:root {
    --bulma-primary-h: 203deg;
    --bulma-primary-s: 61%;
    --bulma-primary-l: 45%;
    --bulma-success-h: 164deg;
    --bulma-success-s: 56%;
    --bulma-success-l: 48%;
    --bulma-warning-h: 34deg;
    --bulma-warning-s: 71%;
    --bulma-warning-l: 70%;
    --bulma-danger-h: 356deg;
    --bulma-danger-s: 71%;
    --bulma-danger-l: 73%;
    --bulma-scheme-h: 256;
    --bulma-light-invert-l: 13%;
    --bulma-dark-l: 17%;
  }
  
  